# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log
yarn.lock
package-lock.json

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build files
/build
/dist
.DS_Store

# Editor & OS-specific files
.vscode/
.idea/
*.swp
Thumbs.db

# Coverage and test files
/coverage
/jest/
.cypress/
cypress/screenshots/
cypress/videos/

# Dependencies
/.pnp
.pnp.js

# Next.js build output (if applicable)
/.next

# Misc
.npm/
.eslintcache
*.tgz
